DJANGO_SECRET_KEY=django-insecure-&4d2eu8qjz$e&av4$nv3@_$5rc*-op*ql%usko!x*-5q@n2qhj
DEBUG=True
DATABASE_URL=sqlite:///db.sqlite3
ALLOWED_HOSTS=*
CSRF_TRUSTED_ORIGINS=http://localhost,http://127.0.0.1
REDIS_URL=redis://localhost:6379/0

CLOUDFLARE_R2_ACCOUNT_ID=
CLOUDFLARE_R2_ACCESS_KEY=
CLOUDFLARE_R2_SECRET_KEY=
CLOUDFLARE_R2_BUCKET=
CLOUDFLARE_R2_ENDPOINT=

BUNNY_API_KEY=
BUNNY_LIBRARY_ID=

MUX_TOKEN_ID=
MUX_TOKEN_SECRET=

EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=
ANALYTICS_PROVIDER=
